<?php
/**
 * Hier wird genau eine Tabelle angezeigt.
 * Der Inhalt eines Tabellen TDs ist ein Zertifikat.
 * Solch eine Tabellenfüllung, die dabei raus kommt wenn der User die TDs mit Zertifikaten füllt, wird dann von
 * \Lerp\Cert\View\Helper\Document\ReleaseAndWriteoffTableGroup zur Anzeige genutzt.
 */
?>
<?php if (!empty($this->tableData)) : ?>
    <?php foreach ($this->tableData as $td) : ?>
        <?php if ($td['cert_table_row_index'] == 1 && $td['cert_table_column_index'] == 1) : ?>
            <div class="w3-responsive">
                <table class="w3-table w3-tiny table-border-all">
                    <thead>
                        <tr>
                            <th colspan="<?php echo $this->colspan ?>"><?php echo $td['cert_table_heading'] ?></th>
                        </tr>
                        <?php if (!empty($this->tableColumnNames)) : ?>
                            <tr>
                                <?php if (!empty($this->tableRowNames)) : ?>
                                    <td></td>
                                <?php endif; ?>
                                <?php foreach ($this->tableColumnNames as $tableColumnName) : ?>
                                    <th><?php echo $tableColumnName ?></th>
                                <?php endforeach; ?>
                            </tr>
                        <?php endif; ?>
                    </thead>
                    <tbody>
                    <?php endif; ?>
                    <?php if ($td['cert_table_column_index'] == 1) : ?>
                        <tr>
                            <?php if (!empty($this->tableRowNames)) : ?>
                                <th>
                                    <?php echo $this->tableRowNames[$td['cert_table_row_index'] - 1] ?>
                                </th>
                            <?php endif; ?>
                        <?php endif; ?>
                        <td>
                            <?php
                            echo $this->certTableTd($td)
                            ?>
                        </td>
                        <?php if ($td['cert_table_column_index'] == $td['cert_table_column_count']) : ?>
                        </tr>
                    <?php endif; ?>
                    <?php if ($td['cert_table_column_index'] == $td['cert_table_column_count'] && $td['cert_table_row_index'] == $td['cert_table_row_count']) : ?>
                    </tbody>
                </table>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
<?php else: ?>
    <p>Keine Zertifikate gefunden</p>
<?php endif; ?>
