<?php
/**
 * Gibt ein CertTable TD Inhalt aus.
 * Entweder einen Button um ein Zertifikat auszuwählen
 * oder zusätzlich Informationen zum Zertifikat.
 */
?>
<div id="cert_table_td_id_<?php echo $this->certTableTdData['cert_table_td_id'] ?>">
    <?php if ($this->generateForm) : ?>
        <?php echo $this->certSelect($this->certTableTdData) ?>
    <?php endif; ?>
    <?php if (isset($this->certId)) : ?>
        <br>
        <?php echo !empty($this->certData['cert_name']) ? $this->certData['cert_name'] : '' ?>
    <?php endif; ?>
</div>
