<?php if (!empty($this->employees)) : ?>
    <form action="" method="post">
        <table class="w3-table">
            <thead class="w3-border-bottom">
                <tr>
                    <th>
                        <input type="checkbox" onclick="toggleCheckboxes(this, 'employeeforgroup[]')">
                        &nbsp;Name
                    </th>
                    <th>Nr. Zeiterf.</th>
                    <th>Nr. Godata</th>
                    <th>Nr. Addison</th>
                    <th>Nr. Extern</th>
                    <th>aktiv</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->employees as $employee) : ?>
                    <tr>
                        <td>
                            <input type="checkbox" name="employeeforgroup[]" value="<?php echo $employee['employee_id'] ?>">
                            &nbsp;
                            <?php echo $employee['name_1'] . ' ' . $employee['name_2'] ?>
                        </td>
                        <td><?php echo $employee['no_timerec'] ?></td>
                        <td><?php echo $employee['no_godata_id'] ?></td>
                        <td><?php echo $employee['no_addison'] ?></td>
                        <td><?php echo $employee['no_extern'] ?></td>
                        <td><?php echo $employee['is_active'] == 1 ? 'ja' : 'nein' ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <button type="submit" class="w3-button cert-color" name="employeeforgroup_submit">&uuml;bernehmen</button>
    </form>
<?php else: ?>
    <p>Keine Mitarbeiter gefunden, die noch nicht in der Gruppe sind.</p>
<?php endif; ?>
