<div class="w3-row">
    <div class="w3-col m1">
    </div>
    <div class="w3-col">
        <p>Das L&ouml;schen von <b><?php echo $this->certData['cert_name'] ?></b> bestätigen.</p>
        <input type="hidden" name="employee_cert_rel_id" value="<?php echo $this->employeeCertRelData['employee_cert_rel_id'] ?>">
    </div>
</div>
