<div class="w3-row margin-8">
    <?php if (!empty($this->certDocs)) : ?>

        <p>
            <strong>
                Zertifikat: <?php echo $this->certData['cert_name'] ?>
            </strong>
        </p>
        <?php foreach ($this->certDocs as $certDoc) : ?>
            <div class="w3-col">
                <button class="delete-employee-cert-rel-doc"
                        data-employeecertreldocid="<?php echo $certDoc['employee_cert_rel_doc_id'] ?>">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>

                </button>

                <a href="<?php
                echo $this->certDocUrl($certDoc['employee_cert_rel_doc_main_folder_root'],
                    $certDoc['employee_cert_rel_doc_datetime'], $certDoc['employee_cert_rel_doc_filename'])
                ?>" target="_blank">
                    <?php echo $certDoc['employee_cert_rel_doc_name'] ?>
                </a>
            </div>
        <?php endforeach; ?>
    <?php else: ?>
        <p>Keine Dokumente vorhanden.</p>
    <?php endif; ?>
    <hr>
    <!--<form enctype="multipart/form-data" method="post" id="employeeCertReldocForm">-->
    <input type="file" name="file" class="w3-input" id="employeeCertReldoc" multiple="multiple">
    <!--</form>-->
</div>
