<?php if ($this->certDefType): ?>
    <div class="w3-row" id="dynamic_cert_def_value_form_group">
        <label class="w3-col m3 control-label">Zertifikat Wert</label>
        <div class="w3-col m6">
            <?php if ($this->certDefType == 'select'): ?>
                <select name="cert_def_value" class="w3-select">
                    <?php foreach ($this->certDefValues as $key => $certDefValue): ?>
                        <option value="<?php echo $key ?>"><?php echo $certDefValue ?></option>
                    <?php endforeach; ?>
                </select>
            <?php elseif ($this->certDefType == 'checkbox') : ?>
                <input type="hidden" name="cert_def_value" value="<?php echo $this->certDefValue ?>">
                <input type="text" name="cert_def_value_disabled" class="w3-input" disabled="disabled" value="<?php echo $this->certDefValue ?>">
            <?php elseif ($this->certDefType == 'text') : ?>
                <input type="text"  name="cert_def_value" class="w3-input" value="">
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
<!--<div class="form-group ">
    <label class="col-sm-2 control-label">Zertifikat</label>
    <div class=" col-sm-6">
        <select name="employee_cert_rel_cert_id" class="form-control">
            <option value=""></option>
            <option value="7">Sehtest</option>
            <option value="8">Ersthelfer</option>
            <option value="11">Wareneingang</option>
        </select>
    </div>
</div>-->
