<?php if($this->isCert) : ?>
<div class="employee-cert-div-inner <?php echo $this->remainingTimeClass ?>">
    <p title="<?php echo $this->certData['cert_id'] ?>" class="employee-cert-div-header <?php echo $this->remainingTimeClass ?>"><?php echo $this->certData['cert_name'] ?></p>
    <?php if (!empty($this->employeeCertData)) : ?>
        <div title="<?php echo $this->employeeCertData['cert_restriction'] ?>">
            <?php echo $this->certDefValue ?>
            &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;
            <span title="<?php echo $this->remainingTime ?>">
                <?php echo date('d.m.Y', $this->employeeCertData['date_of_issue']) ?>
            </span>
            &nbsp;<i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;
            <?php echo $this->employeeCertData['licence_no'] ?>&nbsp;
        </div>
        <?php if (!empty($this->certData['cert_id']) && $this->generateForm) : ?>
            <?php // hier muss auch die certId sein um dann per AJAX das geaenderte oder geloeschte certRel zu holen ?>
            <button data-action="edit"
                    data-certid="<?php echo $this->certData['cert_id'] ?>"
                    data-certrelid="<?php echo $this->employeeCertData['employee_cert_rel_id'] ?>"
                    data-employeeid="<?php echo $this->employeeCertData['employee_id'] ?>" class="w3-xbtn w3-xtiny margin-xbtn cert-color manage-cert"
                    data-toggle="modal" data-target="#employeeCertModal" title="">edit</button>
            &nbsp;
            <button data-action="delete"
                    data-certid="<?php echo $this->certData['cert_id'] ?>"
                    data-certrelid="<?php echo $this->employeeCertData['employee_cert_rel_id'] ?>"
                    data-employeeid="<?php echo $this->employeeCertData['employee_id'] ?>" class="w3-xbtn w3-xtiny margin-xbtn w3-red manage-cert"
                    data-toggle="modal" data-target="#employeeCertModal" title="">delete</button>
            &nbsp;
            <button data-action="documents"
                    data-certid="<?php echo $this->certData['cert_id'] ?>"
                    data-certrelid="<?php echo $this->employeeCertData['employee_cert_rel_id'] ?>"
                    data-employeeid="<?php echo $this->employeeCertData['employee_id'] ?>" class="w3-xbtn w3-xtiny margin-xbtn cert-color manage-cert"
                    data-toggle="modal" data-target="#employeeCertModal" title="">docs (<?php echo $this->employeeCertRelDocCount ?>)</button>
            &nbsp;
        <?php else : ?>
            <br>
        <?php endif; ?>
    <?php else : ?>
        <br>&nbsp;
    <?php endif; ?>
    <?php echo $this->certRelCreateButton ?>
</div>
<?php endif; ?>
