<?php
$this->headTitle('Mitarbeiter Zertifikate managen');
$this->headScript()->appendFile($this->basePath('js/app/employee-certs.js'));
?>
<?php echo $this->employeeCertsAll($this->employeeId, ['generateForm' => true]) ?>
<!--
Weil hier releaseAndWriteoff mit ['generateForm' => true] aufgerufen wird, gibt es Modals.

-->
<div class="w3-modal" id="employeeCertModal">
    <div class="w3-modal-content">
        <header class="w3-container">
            <h4 class="modal-title" id="modalLabel">Zertifikat für: <b><span id="employee_name_dyn"></span></b></h4>
            <span onclick="document.getElementById('employeeCertModal').style.display = 'none'" class="w3-closebtn">&times;</span>
        </header>
        <div class="w3-container">
            <div class="row" id="certrel_form_dyn">
                <!-- dynamic content goes here -->
            </div>
        </div>
        <footer class="w3-container">
            <button type="button" class="btn btn-danger" data-dismiss="modal">abbrechen</button>
            <button type="button" class="btn btn-default" value="" id="modal-submit-button">Mitarbeiter Zertifikat
                erstellen
            </button>
        </footer>
    </div>
</div>
