<?php
$this->headTitle('Mitarbeiter anzeigen');
?>
<style>
    div.local-special {
        display: inline-block;
        padding: 1px 2px;
        margin: 0 4px;
    }
    ul.nav-pills {
        margin: 0;
    }
    .nav > li a {
        /*padding: 1px 5px;  bootstrap overwrite */
    }
</style>
<h1>Mitarbeiter</h1>
<table class="w3-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Nr. Zeiterf.</th>
            <th title="systeminterne ID">GODATA ID</th>
            <th>Nr. Addison</th>
            <th>Nr. extern</th>
            <th>aktiv</th>
            <th>Aktion</th>
        </tr>
    </thead>
    <tbody>
        <?php if (!empty($this->data)): ?>
            <?php foreach ($this->data as $employee): ?>
                <tr>
                    <td><?php echo $employee['name_1'] . ' ' . $employee['name_2'] ?></td>
                    <td><?php echo $employee['no_timerec'] ?></td>
                    <td title="systeminterne ID"><?php echo $employee['no_godata_id'] ?></td>
                    <td><?php echo $employee['no_addison'] ?></td>
                    <td><?php echo $employee['no_extern'] ?></td>
                    <td style="color: <?php echo ($employee['is_active'] == 0) ? 'red' : 'green' ?>;">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </td>
                    <td>
                        <!--<div class="row" style="margin: 0;">-->
                            <div class="local-special">
                                <a href="<?php echo $this->url('lerp_cert_manage_employee', ['employee_id' => $employee['employee_id']]) ?>" class="btn btn-xs btn-default">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Mitarbeiter
                                </a>
                            </div>
                            <div class="local-special">
                                <a href="<?php
                                echo $this->url('lerp_cert_manage_employee_certs', ['employee_id' => $employee['employee_id']])
                                ?>" class="btn btn-xs btn-default">
                                    <i class="fa fa-certificate" aria-hidden="true"></i><i class="fa fa-pencil" aria-hidden="true"></i> alle Zertifikate
                                </a>
                            </div>
                            <div class="local-special">
                                <?php echo $this->certTableGroupsUrlDropdown($employee['employee_id']) ?>
                            </div>
                        <!--</div>-->
                    </td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
    </tbody>
</table>
