<?php
$this->headTitle('Mitarbeiter Zertifikate');
$this->headScript()->appendFile($this->basePath('js/app/employee-certs.js'));
?>
<div class="w3-row">
    <div class="w3-col">
        <?php echo $this->certTableGroupAttributes($this->employeeId, $this->employeeCertTableGroupAttributesIdAssoc, $this->tableGroupAttributes) ?>
    </div>
</div>
<?php echo $this->certsTableGroup($this->certTableGroupId, $this->employeeId, ['generateForm' => true]); ?>
<div class="w3-row">
    <div class="w3-col">
        <a href="<?php echo $this->url('lerp_cert_manager_pdf_table_group', ['employee_id' => $this->employeeId, 'cert_table_group_id' => $this->certTableGroupId]) ?>"
           class="w3-button cert-color" target="_blank">PDF</a>
    </div>
</div>
<div class="modal fade" id="employeeCertModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Mitarbeiter: <b><span id="employee_name_dyn"></span></b></h4>
            </div>
            <div class="modal-body">
                <div class="row" id="certrel_form_dyn">
                    <!-- dynamic content goes here -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="modal-cancel-button">abbrechen</button>
                <button type="button" class="btn btn-default" value="" id="modal-submit-button">Mitarbeiter Zertifikat erstellen</button>
            </div>
        </div>
    </div>
</div>
