<?php
$this->headTitle('Zertifikat Tabelle bearbeiten');
?>
<h1>Zertifikat Tabelle bearbeiten</h1>
<?php if (!empty($this->certTableForm)): ?>
    <div class="w3-row">
        <div class="w3-col m8">
            <?php echo $this->form($this->certTableForm) ?>
        </div>
        <div class="w3-col m4">
            <p></p>
        </div>
    </div>
<?php endif; ?>
<?php if($this->changedDimension) : ?>

<?php endif; ?>
