<?php
$this->headTitle('Zertifikate anzeigen');
?>
<h1>Zertifikate</h1>
<table class="w3-table w3-small table-border-all">
    <thead>
        <tr>
            <th style="width: 5%;">ID</th>
            <th style="width: 13%;">Name</th>
            <th style="width: 33%;">Beschreibung</th>
            <th style="width: 10%;">Gruppe</th>
            <th style="width: 10%;">Definition</th>
            <th style="width: 6%;">Monate</th>
            <th style="width: 6%;">Pflicht Alle</th>
            <th style="width: 3%;" title="zusätzliche Sortierungspriorität nur für diese Ansicht">Prior.</th>
            <th style="width: 7%;"></th>
            <th style="width: 7%;"></th>
        </tr>
    </thead>
    <tbody>
        <?php if (!empty($this->certs)): ?>
            <?php foreach ($this->certs as $cert): ?>
                <tr>
                    <td><?php echo $cert['cert_id'] ?></td>
                    <td><?php echo $cert['cert_name'] ?></td>
                    <td><?php echo $cert['cert_desc'] ?></td>
                    <td><?php echo $this->idCertGroup($cert['cert_group_id']) ?></td>
                    <td><?php echo $this->idCertDef($cert['cert_def_id']) ?></td>
                    <td><?php echo $cert['duration'] ?></td>
                    <td><?php echo $cert['task_all'] ? 'ja': 'nein' ?></td>
                    <td><?php echo $cert['cert_order'] ?></td>
                    <td>
                        <a href="<?php echo $this->url('lerp_cert_manage_cert', ['cert_id' => $cert['cert_id']]) ?>" class="w3-button w3-tiny cert-color">
                            <i class="fa fa-pencil" aria-hidden="true"></i> bearbeiten
                        </a>
                    </td>
                    <td>
                        <a href="<?php echo $this->url('lerp_cert_manage_cert_copy_cert', ['cert_id' => $cert['cert_id']]) ?>" class="w3-button w3-tiny cert-color">
                            <i class="fa fa-copy" aria-hidden="true"></i> kopieren
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
    </tbody>
</table>
