<?php
$this->headTitle('Tabellen');
?>
<?php if (!empty($this->certTablesData)) : ?>
    <table class="w3-table w3-small table-border-all">
        <thead>
            <tr>
                <th colspan="8">Tabellen</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Gruppe</th>
                <th>Reihen</th>
                <th>Spalten</th>
                <th>Überschrift</th>
                <th>Sortierungs<br>Priorität</th>
                <th>Spaltennamen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->certTablesData as $certTableData) : ?>
                <tr>
                    <td>
                        <?php echo $certTableData['cert_table_id'] ?>
                    </td>
                    <td>
                        <?php echo $this->certTableGroupsIdAssoc[$certTableData['cert_table_group_id']] ?>
                    </td>
                    <td>
                        <?php echo $certTableData['cert_table_row_count'] ?>
                    </td>
                    <td>
                        <?php echo $certTableData['cert_table_column_count'] ?>
                    </td>
                    <td>
                        <?php echo $certTableData['cert_table_heading'] ?>
                    </td>
                    <td>
                        <?php echo $certTableData['cert_table_order'] ?>
                    </td>
                    <td>
                        <?php echo $certTableData['cert_table_column_names'] ?>
                    </td>
                    <td>
                        <a class="btn btn-xs btn-default"
                           href="<?php echo $this->url('lerp_cert_manage_cert_table', ['cert_table_id' => $certTableData['cert_table_id']]) ?>">
                            edit Table
                        </a>
                        &nbsp;
                        <a class="btn btn-xs btn-default"
                           href="<?php echo $this->url('lerp_cert_manage_cert_table_tds', ['cert_table_id' => $certTableData['cert_table_id']]) ?>">
                            edit Table Td's
                        </a>
                    </td>
                </tr>
    <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <p>Es sind noch keine Tabellen angelegt.</p>
<?php endif; ?>
