<?php
$this->headTitle('show certdefs');
?>
<?php if (!empty($this->certDefs)) : ?>
    <h3>vorhandene Zertifikat Definitionen</h3>
    <table class="w3-table w3-table-all">
        <thead>
            <tr>
                <th>Name</th>
                <th>Typ</th>
                <th>Werte</th>
                <th>Wert</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->certDefs as $certDef) : ?>
            <?php $certDefJsonArray = json_decode($certDef['cert_def_def'], true) ?>
                <tr>
                    <td><?php echo $certDef['cert_def_name'] ?></td>
                    <td><?php echo $certDefJsonArray['type'] ?></td>
                    <td><?php echo isset($certDefJsonArray['values']) ? implode('; ', $certDefJsonArray['values']) : '' ?></td>
                    <td><?php echo isset($certDefJsonArray['value']) ? $certDefJsonArray['value'] : '' ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>
