<?php
$this->headTitle('Zertifikat Gruppen anzeigen');
?>
<h1>Zertifikat Gruppen</h1>
<table class="w3-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        <?php if (!empty($this->data)): ?>
            <?php foreach ($this->data as $certGroup): ?>
                <tr>
                    <td><?php echo $certGroup['cert_group_name'] ?></td>
                    <td><?php echo $certGroup['desc'] ?></td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
    </tbody>
</table>
