<?php
echo $this->printrTextarea($this->textarea);
$this->headTitle('Tabellengruppen');
?>
<?php if (!empty($this->certTableGroupsData)) : ?>
    <table class="w3-table w3-table-all">
        <thead>
            <tr>
                <th colspan="8">Tabellengruppen</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Nname</th>
                <th>Beschreibung</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->certTableGroupsData as $certTableGroupData) : ?>
                <tr>
                    <td>
                        <?php echo $certTableGroupData['cert_table_group_id'] ?>
                    </td>
                    <td>
                        <?php echo $certTableGroupData['cert_table_group_name'] ?>
                    </td>
                    <td>
                        <?php echo $certTableGroupData['cert_table_group_desc'] ?>
                    </td>
                    <td>
                        <a class="btn btn-xs btn-default"
                           href="<?php echo $this->url('lerp_cert_manage_cert_table_group', ['cert_table_group_id' => $certTableGroupData['cert_table_group_id']]) ?>">
                            edit Tabellengruppe
                        </a>
                    </td>
                </tr>
    <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <p>Es sind noch keine Tabellengruppen angelegt.</p>
<?php endif; ?>
