<?php if (!empty($this->certsForCertChain)) : ?>
    <form action="" method="post">
        <table class="w3-table">
            <thead class="w3-border-bottom">
                <tr>
                    <th>
                        <input type="checkbox" onclick="toggleCheckboxes(this, 'certforcertchain[]')">
                        &nbsp;Name
                    </th>
                    <th>Gruppe</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->certsForCertChain as $certForCertChain) : ?>
                    <tr>
                        <td>
                            <label style="cursor: pointer;">
                                <input type="checkbox" name="certforcertchain[]" value="<?php echo $certForCertChain['cert_id'] ?>">
                                &nbsp;<?php echo $certForCertChain['cert_name'] ?>
                            </label>
                        </td>
                        <td><?php echo $this->idCertGroup($certForCertChain['cert_group_id']) ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <button type="submit" class="w3-button cert-color" name="certforcertchain_submit">übernehmen</button>
    </form>
<?php endif; ?>
