<?php
$this->headTitle('Zertifikat Aktionskette');
$this->headScript()->appendFile($this->basePath('js/app/cert-chain-items.js'));
?>
<h1>Zertifikat Aktionskette</h1>
<div class="w3-row w3-large">
    <div class="w3-col">
        <?php if (isset($this->certChainId) && !empty($this->certChainData)): ?>
            <!--<h3 title="<?php echo $this->certChainData['cert_chain_desc'] ?>">aktuell: <?php echo $this->certChainData['cert_chain_name'] ?></h3>-->
        <?php else: ?>
            <h3>Neu erstellen</h3>
        <?php endif; ?>
    </div>
</div>
<div class="w3-row w3-padding">
    <div class="w3-col l6 m6 w3-padding-left w3-right">
        <h4>
            Cert-Chain-Name
        </h4>
        <p>...</p>
        <h4>
            Cert-Chain-Beschreibung
        </h4>
        <p>...</p>
        <h4>
            Cert-Chain-Type
        </h4>
        <ul>
            <li>
                <strong>group</strong> = &Auml;nderungen an jedem <b>Aktionsketten-Item</b> wirkt sich auf die anderen aus.
            </li>
            <li>
                <strong>master</strong> = Nur &Auml;nderungen am <b>Aktionsketten-Master</b> wirken sich auf die anderen aus.
            </li>
        </ul>
        <h4>
            Cert-Chain-Chain-Type
        </h4>
        <ul>
            <li>
                <strong>update</strong> = F&uuml;r jedes <b>Aktionsketten-Item</b> wirken sich die &Auml;nderungen aus.
            </li>
            <li>
                <strong>create_update</strong> = Existiert eine Mitarbeiter-Zertifikat beziehung nicht, wird sie erstellt. Anschlie&szlig;end werden f&uuml;r jedes <b>Aktionsketten-Item</b> die &Auml;nderungen gespeichert.
            </li>
        </ul>
    </div>
    <div class="w3-col l6 m6">
        <?php echo $this->form($this->certChainForm) ?>
    </div>
</div>
<?php if (isset($this->existCertChainMaster)) : ?>
    <hr>
    <div class="w3-row">
        <div class="w3-col">
            <h4>Aktionsketten-Master</h4>
            <?php if ($this->existCertChainMaster && isset($this->certChainMaster)): ?>
                <?php $certMasterInfo = $this->idCertInfo($this->certChainMaster['cert_id']) ?>
                <table class="w3-table w3-table-all">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Beschreibung</th>
                            <th>Gruppe</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><?php echo $certMasterInfo['cert_name'] ?></td>
                            <td><?php echo $certMasterInfo['cert_desc'] ?></td>
                            <td><?php echo $this->idCertGroup($certMasterInfo['cert_group_id']) ?></td>
                            <td>
                                <form method="post">
                                    <input type="hidden" name="cert_chain_item_id" value="<?php echo $this->certChainMaster['cert_chain_item_id'] ?>">
                                    <button type="submit" name="remove_certchainmaster" class="w3-button cert-color w3-small">entfernen</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <?php else: ?>
                <p>Es existiert noch kein Aktionsketten-Master</p>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
<?php if (isset($this->certChainId) && !empty($this->certChainData)) : ?>
    <hr>
    <div class="w3-row">
        <div class="w3-col">
            <h4>Aktionsketten-Items</h4>
            <?php if (!empty($this->certChainItems)) : ?>
                <table class="w3-table w3-table-all">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Beschreibung</th>
                            <th>Gruppe</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->certChainItems as $certChainItem) : ?>
                            <?php $certInfo = $this->idCertInfo($certChainItem['cert_id']) ?>
                            <tr>
                                <td title="<?php echo $certInfo['cert_id'] ?>">
                                    <?php echo $certInfo['cert_name'] ?>
                                </td>
                                <td><?php echo $certInfo['cert_desc'] ?></td>
                                <td><?php echo $this->idCertGroup($certInfo['cert_group_id']) ?></td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" name="cert_chain_item_id" value="<?php echo $certChainItem['cert_chain_item_id'] ?>">
                                        <?php if (isset($this->existCertChainMaster) && !$this->existCertChainMaster) : ?>
                                            <button type="submit" name="make_certchainmaster" class="w3-button cert-color w3-small">master</button>
                                        <?php endif; ?>
                                        <button type="submit" name="remove_certchainitem" class="w3-button cert-color w3-small">remove</button>
                                    </form>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php else: ?>
                <p>Keine Items gefunden.</p>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
<?php if (isset($this->certChainId) && !empty($this->certChainData)): ?>
    <div class="w3-row">
        <div class="w3-col">
            <button onclick="document.getElementById('cert_chain_item_modal').style.display = 'block'" class="w3-button cert-color"
                    data-certchainid="<?php echo $this->certChainId ?>"
                    id="cert_chain_item_modal_button">
                Zertifikate hinzu f&uuml;gen
            </button>
        </div>
    </div>

    <!-- Cert Modal -->
    <div id="cert_chain_item_modal" class="w3-modal">
        <div class="w3-modal-content">
            <header class="w3-container">
                <span onclick="document.getElementById('cert_chain_item_modal').style.display = 'none'" class="w3-closebtn">&times;</span>
            </header>
            <div class="w3-container" id="cert_chain_item_modal_content">
                <p>Some text in the Modal..</p>
                <p>Some text in the Modal..</p>
            </div>
            <footer class="w3-container">
                <hr>
            </footer>
        </div>
    </div>
<?php endif; ?>
