<?php
$this->headTitle('Zertifikat Aktionsketten');
?>
<h1>Zertifikat Aktionsketten</h1>
<?php if (!empty($this->certChains)): ?>
    <table class="w3-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Typ</th>
                <th>Ketten-Typ</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->certChains as $certChain) : ?>
                <tr>
                    <td>
                        <a href="<?php echo $this->url('lerp_cert_certchain_manage', ['cert_chain_id' => $certChain['cert_chain_id']]) ?>">
                            <?php echo $certChain['cert_chain_name'] ?>
                        </a>
                    </td>
                    <td><?php echo $certChain['cert_chain_desc'] ?></td>
                    <td><?php echo $certChain['cert_chain_type'] ?></td>
                    <td><?php echo $certChain['cert_chain_chain_type'] ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <p>keine Zertifikat Aktionsketten gefunden.</p>
<?php endif; ?>
