<?php if ($this->certsData && $this->certTableTdData): ?>
    <div class="" id="">
        <select name="cert_id" class="w3-select <?php echo $this->selectClass ?>" id="cert-id-select" data-tabletdid="<?php echo $this->certTableTdData['cert_table_td_id'] ?>">
            <option value="0">Zertifikat w&auml;hlen</option>
            <?php foreach ($this->certsData as $cert): ?>
                <option value="<?php echo $cert['cert_id'] ?>" 
                        <?php echo ($this->currentCertId == $cert['cert_id']) ? 'selected="selected"' : ''; ?>>
                            <?php echo $cert['cert_name'] . ' (' . $this->certGroupsIdAssoc[$cert['cert_group_id']] . ')' ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
<?php endif; ?>
