<?php if ($this->certTableGroupsData): ?>
    <ul class="nav nav-pills" style="font-size: 0.9em; margin: 0;">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 4px 4px 0px 4px;">
                Tabellengruppe <span class="caret"></span>
            </a>
                <ul class="dropdown-menu">
                    <?php foreach ($this->certTableGroupsData as $certTableGroup): ?>
                        <li value="<?php echo $certTableGroup['cert_table_group_id'] ?>">
                            <a href="<?php
                            echo $this->url('lerp_cert_show_employee_certs_table_group',
                                    ['cert_table_group_id' => $certTableGroup['cert_table_group_id'], 'employee_id' => $this->employeeId])
                            ?>"
                             style="font-size: 0.9em;">
                                   <?php echo $certTableGroup['cert_table_group_name'] ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
        </li>
    </ul>
<?php endif; ?>

<?php if (false && $this->certTableGroupsData): ?>
    <select name="cert_table_group_id" class="w3-select cert-table-group-id-select" id=""
            data-employeeid="<?php echo $this->employeeId ?>"
            style="width: 150px; font-size: 0.8em; height: 22px; padding: 1px 5px;"
            >
        <option value="0">--Tabellengruppe--</option>
        <?php foreach ($this->certTableGroupsData as $certTableGroup): ?>
            <option value="<?php echo $certTableGroup['cert_table_group_id'] ?>">
                <?php echo $certTableGroup['cert_table_group_name'] ?>
            </option>
        <?php endforeach; ?>
    </select>
<?php endif; ?>
