<?php foreach ($this->tableGroupAttributes as $tableGroupAttribute) : ?>
    <?php $datepickerClass = ($tableGroupAttribute['employee_cert_table_group_attribute_def_type'] == 'time') ? 'datepicker' : '' ?>
    <?php
    $value = '';
    if(!empty($this->employeeCertTableGroupAttributesIdAssoc[$tableGroupAttribute['employee_cert_table_group_attribute_def_id']])) {
        switch($tableGroupAttribute['employee_cert_table_group_attribute_def_type']) {
            case 'time':
                $value = date('Y-m-d',$this->employeeCertTableGroupAttributesIdAssoc[$tableGroupAttribute['employee_cert_table_group_attribute_def_id']]['employee_cert_table_group_attribute_value']);
                break;
            case 'string':
            default :
                $value = $this->employeeCertTableGroupAttributesIdAssoc[$tableGroupAttribute['employee_cert_table_group_attribute_def_id']]['employee_cert_table_group_attribute_value'];
        }
    }
//    $value = (!empty($this->employeeCertTableGroupAttributesIdAssoc[$tableGroupAttribute['employee_cert_table_group_attribute_def_id']]) && $tableGroupAttribute['employee_cert_table_group_attribute_def_type'] == 'time') ? date('Y-m-d',
//                    $this->employeeCertTableGroupAttributesIdAssoc[$tableGroupAttribute['employee_cert_table_group_attribute_def_id']]['employee_cert_table_group_attribute_value']) : $this->employeeCertTableGroupAttributesIdAssoc[$tableGroupAttribute['employee_cert_table_group_attribute_def_id']]['employee_cert_table_group_attribute_value']
    ?>
    <form action="" method="post" class="w3-row w3-small w3-padding w3-border">
        <input type="hidden" name="employee_cert_table_group_attribute_def_id" value="<?php echo $tableGroupAttribute['employee_cert_table_group_attribute_def_id'] ?>">
        <input type="hidden" name="employee_cert_table_group_attribute_def_type" value="<?php echo $tableGroupAttribute['employee_cert_table_group_attribute_def_type'] ?>">
        <div class="w3-col l2 m3 s4">
            <?php echo $tableGroupAttribute['employee_cert_table_group_attribute_def_name'] ?>
        </div>
        <div class="w3-col l2 m3 s4">
            <input type="text" name="employee_cert_table_group_attribute_value" class="<?php echo $datepickerClass ?>"
                   placeholder="<?php echo $tableGroupAttribute['employee_cert_table_group_attribute_def_name'] ?>"
                   value="<?php echo $value ?>">
        </div>
        <div class="w3-col l2 m3 s4">
            <input type="submit" name="employee_cert_table_group_attribute_submit" value="speichern">
        </div>
    </form>
<?php endforeach; ?>
