<?php
/**
 * Für jede Tabelle im ReleaseWriteoff Dokument muß hier einzeln iteriert werden!!!
 */
?>
<?php if (!empty($this->tableData)) : ?>
<pre>Tabellengruppe: <strong><?php echo $this->tableData[0]['cert_table_group_name'] ?></strong></pre>
    <pre>Mitarbeiter: <?php echo $this->employee['name_1'] . ' ' . $this->employee['name_2'] ?></pre>
    <?php foreach ($this->tableData as $key => $td) : ?>
        <?php $certTableRowNames = !empty($td['cert_table_row_names']) ? explode(',', $td['cert_table_row_names']) : [] ?>
        <?php $certTableColumnCount = !empty($certTableRowNames) ? $td['cert_table_column_count'] + 1 : $td['cert_table_column_count'] ?>
        <?php // echo $this->printrTextarea($certTableRowNames) ?>
        <?php if ($td['cert_table_row_index'] == 1 && $td['cert_table_column_index'] == 1) : ?>
            <?php
            $certTableColumnNames = !empty($td['cert_table_column_names']) ? explode(',', $td['cert_table_column_names']) : []
            ?>
            <div class="w3-responsive">
                <table class="w3-table w3-small table-border-all cert-group-table">
                    <thead>
                        <tr>
                            <th class="" colspan="<?php echo $certTableColumnCount ?>"><?php echo $td['cert_table_heading'] ?></th>
                        </tr>
                        <?php if (!empty($certTableColumnNames)) : ?>
                            <tr>
                                <?php
                                $tdWidthPercent = number_format(100 / $certTableColumnCount, 2);
                                ?>
                                <?php for ($i = 0; $i < $certTableColumnCount; $i++) : ?>
                                    <th style="width: <?php echo $tdWidthPercent ?>%">
                                        <?php if ($i == 0) : ?>
                                            <!--&nbsp;-->
                                        <?php else : ?>
                                            <?php $columnIndex = !empty($certTableRowNames) ? $i - 1 : $i ?>
                                            <?php echo(!empty($certTableColumnNames[$columnIndex])) ? $certTableColumnNames[$columnIndex] : '' ?>
                                        <?php endif; ?>
                                    </th>
                                <?php endfor; ?>
                            </tr>
                        <?php endif; ?>
                    </thead>
                    <tbody>
                    <?php endif; ?>
                    <?php if ($td['cert_table_column_index'] == 1) : ?>
                        <tr>
                        <?php endif; ?>
                        <?php if ($td['cert_table_column_index'] == 1 && !empty($certTableRowNames)) : ?>
                            <th>
                                <?php echo $certTableRowNames[$td['cert_table_row_index'] - 1] ?>
                            </th>
                        <?php endif; ?>
                        <td style="padding: 4px;">
                            <div class="employeeid_<?php echo $this->employeeId . '_certid_' . $td['cert_id'] ?>">
                                <?php
                                echo $this->employeeCertRel($this->employeeId, $this->employeeCerts, $td['cert_id'],
                                        $this->generateForm)
                                ?>
                            </div>
                        </td>
                        <?php if ($td['cert_table_column_index'] == $td['cert_table_column_count']) : ?>
                        </tr>
                    <?php endif; ?>
                    <?php if ($td['cert_table_column_index'] == $td['cert_table_column_count'] && $td['cert_table_row_index'] == $td['cert_table_row_count']) : ?>
                    </tbody>
                </table>
            </div>
            <?php if (isset($this->tableData[$key + 1])) : ?>
                <hr>
            <?php endif; ?>
        <?php endif; ?>
    <?php endforeach; ?>
<?php else: ?>
    <p>Keine Zertifikate gefunden</p>
<?php endif; ?>
