<?php if (!empty($this->employeeCerts) && !empty($this->allActiveCerts)): ?>
    <pre>Mitarbeiter: <?php echo $this->employee['name_1'] . ' ' . $this->employee['name_2'] ?></pre>

    <?php
    $lastCertGroupId = -1;
    $colWidth = 2;
    $colSum = 0;
    foreach ($this->allActiveCerts as $key => $activecert) :
        $nextActivecert = $this->allActiveCerts[$key + 1];
        $isLastActiveCert = !isset($nextActivecert) && $activecert['cert_group_id'] != $nextActivecert['cert_group_id'];
        $isNewGroup = $activecert['cert_group_id'] != $lastCertGroupId;
        $lastCertGroupId = $activecert['cert_group_id'];
        if ($isNewGroup) :
            $colSum = $colSumTmp = 0;
            ?>
            <div class="w3-row">
                <div class="w3-col">
                    <h2><?php echo $this->idCertGroup($activecert['cert_group_id']) ?></h2>
                </div>
            </div>
            <?php
        endif;
        $isNewRow = ($colSum == 0);
        $colSumTmp = $colSum + $colWidth;
        $colSum = ($colSumTmp) == 12 ? 0 : $colSumTmp;
        if ($isNewRow) :
            ?>
            <div class="w3-row employee-cert-row-div">
            <?php endif; ?>
                <div class="w3-col m<?php echo $colWidth ?> employee-cert-div employeeid_<?php echo $this->employee['employee_id'] . '_certid_' . $activecert['cert_id'] ?>">
                <?php
                echo $this->employeeCertRel($this->employee['employee_id'], $this->employeeCerts, $activecert['cert_id'],
                        $this->generateForm)
                ?>
            </div>
            <?php if ($colSumTmp == 12 || $isLastActiveCert) : ?>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>

        <!--    <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="6">Allgemeine Zulassungen</th>
                </tr>
                <tr>
                    <th>Wareneingang</th>
                    <th>Human Factor</th>
                    <th>Gabelstapler</th>
                    <th>Arbeitssicherheit</th>
                    <th>Schweiß-Lizenz</th>
                    <th>Continuation Training</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><?php // echo $this->employeeCertRel($this->employee['employee_id'], $this->employeeCerts, 11, $this->generateForm)   ?></td>
                    <td><?php // echo $this->employeeCertRel($this->employee['employee_id'], $this->employeeCerts, 9, $this->generateForm)   ?></td>
                    <td><?php // echo $this->employeeCertRel($this->employee['employee_id'], $this->employeeCerts, 5, $this->generateForm)   ?></td>
                    <td><?php // echo $this->employeeCertRel($this->employee['employee_id'], $this->employeeCerts, 6, $this->generateForm)   ?></td>
                    <td><?php // echo $this->employeeCertRel($this->employee['employee_id'], $this->employeeCerts, 22, $this->generateForm)   ?></td>
                    <td><?php // echo $this->employeeCertRel($this->employee['employee_id'], $this->employeeCerts, 10, $this->generateForm)   ?></td>
                </tr>
            </tbody>
        </table>-->
<?php else: ?>
    <p>Keine Zertifikate gefunden</p>
<?php endif; ?>
