<?php
$this->headTitle('Dashboard');
?>
<div class="w3-row">
    <div class="w3-col">
        <div class="w3-panel">
            <header class="w3-container gfm-border-3">

                <div class="w3-container">
                    <div class="w3-row">
                        <div class="w3-col m6 l2">
                            <h4>existierende Zertifikate</h4>
                        </div>
                        <div class="w3-col m6 l10">
                            <form method="get" action="">
                                <div class="w3-row">
                                    <div class="w3-col m6 l3">
                                        <label>max. Tage zum Ablauf
                                            <input class="w3-input w3-tiny" type="number" name="max-remaining-days" value="<?php echo $this->maxRemainingDays ?>" step="30">
                                        </label>
                                    </div>
                                    <div class="w3-col m6 l3">
                                        <label>&nbsp;&nbsp;
                                            <input class="w3-input w3-tiny cert-color" type="submit" value="anzeigen">
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <?php if (!empty($this->certRels)) : ?>
                <table class="w3-table table-border-all w3-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Mitarbeiter</th>
                            <th>Zertifikat</th>
                            <th>ausgestellt am</th>
                            <th title="Monate">Rest-Monate</th>
                            <th title="Tage">Rest-Tage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->certRels as $certRel) : ?>
                            <?php
                            $remainingTime = \Lerp\Cert\Tools\CertDuration::getRemainingTime($certRel['duration'], $certRel['date_of_issue']);
                            $remainingMonths = $remainingTime->y * 12 + $remainingTime->m;
                            if ($remainingTime->invert == 0) {
                                $remainingMonths *= -1;
                            }
                            ?>
                            <tr>
                                <td><?php echo $certRel['cert_id'] ?></td>
                                <td><?php echo $certRel['name_1'] . ' ' . $certRel['name_2'] ?></td>
                                <td><?php echo $certRel['cert_name'] ?></td>
                                <td><?php echo date('d.m.Y', $certRel['date_of_issue']) ?></td>
                                <td><?php echo $remainingMonths ?></td>
                                <td><?php echo $certRel['employee_cert_rel_remaining_time_days'] ?></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif; ?>
        </div>
    </div>
</div>
<!--<br>-->
<div class="w3-row">
    <div class="w3-col l6 m6">
        <div class="w3-panel">
            <header class="w3-container gfm-border-3">
                <h4>Gruppenpflichten</h4>
                <div class="w3-container">
                    <p>...inkl. fehlender Zertifikate</p>
                </div>
            </header>
            <?php if (!empty($this->employeeGroupCertTasksIdAssocExtCertIdEmployeeId)) : ?>
                <table class="w3-table table-border-all">
                    <thead>
                        <tr>
                            <th>Mitarbeiter</th>
                            <th>Zertifikat</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->employeeGroupCertTasksIdAssocExtCertIdEmployeeId as $task) : ?>
                            <tr>
                                <td><?php echo $task['name_1'] . ' ' . $task['name_2'] ?></td>
                                <td><?php echo $task['cert_name'] ?></td>
                                <td style="text-align: center;">
                                    <?php echo (array_key_exists($task['cid_eid'], $this->employeeCertRelIdAssocExt)) ? 'ok' : '-' ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif; ?>
        </div>
    </div>
    <div class="w3-col l6 m6">
        <div class="w3-panel">
            <header class="w3-container gfm-border-3">
                <h4>Pflichten Aller</h4>
                <div class="w3-container">
                    <p>...inkl. fehlender Zertifikate</p>
                </div>
            </header>
            <?php if (!empty($this->employees)) : ?>
                <table class="w3-table table-border-all">
                    <thead>
                        <tr>
                            <th colspan="1">Mitarbeiter</th>
                            <th>Zertifikate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->employees as $employee) : ?>
                            <tr>
                                <td><?php echo $employee['name_1'] . ' ' . $employee['name_2'] ?></td>
                                <td style="text-align: center;">
                                    <?php if (!empty($this->certsTaskAllIdAssoc)) : ?>
                                        <table class="w3-table">
                                            <?php foreach ($this->certsTaskAllIdAssoc as $certTaskAll) : ?>
                                                <tr>
                                                    <td><?php echo $certTaskAll['cert_name'] ?></td>
                                                    <td style="width: 40px; text-align: center;">
                                                        <?php $arrayKey = $certTaskAll['cert_id'] . '_' . $employee['employee_id'] ?>
                                                        <?php
                                                        echo (array_key_exists($arrayKey, $this->employeeCertRelIdAssocExt)) ? 'ok' : '-'
                                                        ?>
                                                    </td>
                                                </tr>
                                            <?php endforeach; ?>
                                        </table>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif; ?>
        </div>
    </div>
</div>
