<?php
$this->headTitle('Tabelle erstellen');
?>
<h1>Tabelle erstellen</h1>
<?php if (isset($this->certTableForm)): ?>
    <div class="w3-row">
        <div class="w3-col m8">
            <?php echo $this->form($this->certTableForm) ?>
        </div>
        <div class="w3-col m4">
            <p></p>
        </div>
    </div>
<?php endif; ?>
