<?php
$this->headTitle('Tabellengruppe erstellen');
?>
<h1>Tabellengruppe erstellen</h1>
<?php if (isset($this->certTableGroupForm)): ?>
    <div class="w3-row">
        <div class="w3-col m8">
            <?php echo $this->form($this->certTableGroupForm) ?>
        </div>
        <div class="w3-col m4">
            <p></p>
        </div>
    </div>
<?php endif; ?>
