<?php
$this->headTitle('Mitarbeiter Zertifikat erstellen');
?>
<script>

    $(document).ready(function () {
        $("select[name=employee_cert_rel_cert_id").change(function () {
//        alert("it has cheanged");
            /*
             * An das uebergeordnete DIV Tag das passende (zum gewaehlten zertifikat) Form Feld kleben.
             * Mit AJAX das passende holen. Die \Lerp\Cert\Form\Employee\EmployeeCertRelForm hat dazu einen Getter (demnächst).
             */
            var thisSelect = $(this);
            $.ajax({
                url: "/cert-rel-cert-def-value-select/" + $(this).val(),
                dataType: "html",
                success: function (data) {
                    $("div#dynamic_cert_def_value_form_group").remove();
                    thisSelect.parents("div.form-group").after(data);
                },
                error: function(){
                    alert("Es ist ein Fehler beim Aktualisieren der GUI aufgetreten. Bitte den Administrator kontaktieren.");
                }
            }).done(function (data) {
//                $(this).parent().parent().append("<p>test</p>");
            });

        });
    });
</script>
<h1>Mitarbeiter Zertifikat erstellen</h1>
<?php if (isset($this->employeeCertRelForm)): ?>
    <?php // echo $this->form()->openTag($this->certForm) ?>
    <?php echo $this->form($this->employeeCertRelForm) ?>
    <?php // echo $this->formRow($this->certForm->get('cert_group')) ?>
    <?php // echo $this->formRow($this->certForm->get('cert_name')) ?>
    <?php // echo $this->formRow($this->certForm->get('cert_submit')) ?>
<?php endif; ?>
<!--<p>
<?php // echo $this->employeeCertDefValueElement(11) ?>
</p>-->
