<?php
$this->headTitle('Mitarbeiter Gruppen');
?>
<h1>Mitarbeiter Gruppen</h1>
<?php if (!empty($this->employeeGroups)) : ?>
    <table class="w3-table w3-table-all">
        <thead>
            <tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Anzahl Mitarbeiter</th>
                <th>Anzahl Gruppen-Pflichten</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->employeeGroups as $employeeGroup) : ?>
                <tr>
                    <td>
                        <a href="<?php echo $this->url('lerp_cert_manage_employeegroup_employeegroup', ['employee_group_id' => $employeeGroup['employee_group_id']]) ?>">
                            <?php echo $employeeGroup['employee_group_name'] ?>
                        </a>
                    </td>
                    <td><?php echo $this->shorterText($employeeGroup['employee_group_desc'], 100) ?></td>
                    <td><?php echo $employeeGroup['employee_group_rel_count'] ?></td>
                    <td><?php echo $employeeGroup['employee_group_cert_task_count'] ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>
