<?php
$this->headTitle('Gruppen-Pflichten');
?>
<div class="w3-container">
    <h1>Gruppen-Pflichten</h1>
    <div class="w3-col">
        <?php if (!empty($this->employeeGroupCertTasks)) : ?>
            <table class="w3-table w3-table-all">
                <thead>
                    <tr>
                        <th colspan="2">Gruppe</th>
                        <th colspan="2">Zertifikat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->employeeGroupCertTasks as $employeeGroupCertTask) : ?>
                        <tr>
                            <td>
                                <?php echo $employeeGroupCertTask['employee_group_name'] ?>
                            </td>
                            <td title="<?php echo $employeeGroupCertTask['employee_group_desc'] ?>">
                                <?php echo $this->shorterText($employeeGroupCertTask['employee_group_desc'], 50) ?>
                            </td>
                            <td title="<?php echo $employeeGroupCertTask['cert_id'] ?>">
                                <?php echo $employeeGroupCertTask['cert_name'] ?>
                            </td>
                            <td title="<?php echo $employeeGroupCertTask['cert_desc'] ?>">
                                <?php echo $this->shorterText($employeeGroupCertTask['cert_desc'], 50) ?>
                            </td>
                            <td>
                                <form method="post" action="">
                                    <input type="hidden" name="employee_group_cert_task_id" value="<?php echo $employeeGroupCertTask['employee_group_cert_task_id'] ?>">
                                    <button type="submit" name="delete_group_task" value="1" class="w3-button w3-red w3-tiny">delete</button>
                                </form>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endif; ?>
    </div>
</div>
<hr>
<div class="w3-container">
    <h4>Weitere Gruppen-Pflichten erstellen</h4>
    <div class="w3-col">
        <form method="post" action="">
            <label class="w3-label" style="min-width: 200px;">Gruppe
                <?php
                echo $this->simpleSelect($this->employeeGroupsIdAssoc, '', 'employee_group_id', 'w3-input w3-border ' . $this->inputErrorClass)
                ?>
            </label>
            <label class="w3-label" style="min-width: 200px;">Zertifikat
                <?php echo $this->simpleSelect($this->certsIdAssoc, '', 'cert_id', 'w3-input w3-border ' . $this->inputErrorClass) ?>
            </label>
            <button type="submit" class="w3-button cert-color" name="add_group_task" value="1">speichern</button>
        </form>
    </div>
</div>
