<?php
$this->headTitle('Mitarbeiter Gruppe');
$this->headScript()->appendFile($this->basePath('js/app/employee-group-rels.js'));
?>
<h1>Mitarbeiter Gruppe</h1>
<?php if (!empty($this->employeeGroup)) : ?>
    <h2 title="<?php echo $this->employeeGroup['employee_group_desc'] ?>"><?php echo $this->employeeGroup['employee_group_name'] ?></h2>
<?php endif; ?>
<?php if (!empty($this->employeeGroupRels)) : ?>
    <table class="w3-table w3-table-all">
        <thead>
            <tr>
                <th>Name</th>
                <th>Nr. Zeiterf.</th>
                <th>Nr. Godata</th>
                <th>Nr. Addison</th>
                <th>Nr. Extern</th>
                <th>aktiv</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->employeeGroupRels as $employeeGroupRel) : ?>
                <tr>
                    <td><?php echo $employeeGroupRel['name_1'] . ' ' . $employeeGroupRel['name_2'] ?></td>
                    <td><?php echo $employeeGroupRel['no_timerec'] ?></td>
                    <td><?php echo $employeeGroupRel['no_godata_id'] ?></td>
                    <td><?php echo $employeeGroupRel['no_addison'] ?></td>
                    <td><?php echo $employeeGroupRel['no_extern'] ?></td>
                    <td><?php echo $employeeGroupRel['is_active'] == 1 ? 'ja' : 'nein' ?></td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="employee_id" value="<?php echo $employeeGroupRel['employee_id'] ?>">
                            <button type="submit" name="remove_employee_from_group" class="w3-button cert-color w3-small">entfernen</button>
                        </form>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php else : ?>
    <p>Keine Mitarbeiter in dieser Gruppe gefunden.</p>
<?php endif; ?>

<hr>
<div class="w3-container">
    <div class="w3-col">
        <button type="submit" class="w3-button cert-color" name="add_employee_to_group" id="add_employee_to_group"
                onclick="document.getElementById('add_employee_to_group_modal').style.display = 'block'"
                data-employeegroupid="<?php echo $this->employeeGroup['employee_group_id'] ?>" value="1">Weitere Mitarbeiter dieser Gruppe hinzu fügen</button>
    </div>
</div>

<!-- Modal -->
<div id="add_employee_to_group_modal" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container">
            <span onclick="document.getElementById('add_employee_to_group_modal').style.display = 'none'" class="w3-closebtn">&times;</span>
        </header>
        <div class="w3-container" id="add_employee_to_group_modal_content">
        </div>
        <footer class="w3-container">
            <hr>
        </footer>
    </div>
</div>
