.cert-color {
  background-color: #ff6600;
  color: #006252;
}

.cert-color-primary {
  background-color: #44aa44;
  color: #334477;
}

hr {
  border-color: #7A1E4D;
  border-width: 2px;
}

.radio > .text-align-left {
  text-align: left !important;
}

/* GFM Style */
.gfm-btn {
  background-color: #7A1E4D !important;
  color: white;
}

/* Nav */
li.dropdown-h3 {
  padding: 0 4px;
  font-weight: bold;
}

.cert-group-table {
  width: 100%;
  border: 3px solid #7A1E4D;
}

/* Employee Cert */
.employee-cert-row-div {
  margin: 0 !important; /* default = -15*/
}

.employee-cert-div {
  /*border: 1px solid #7A1E4D;*/
  padding: 1px;
}

.employee-cert-div-inner {
  font-size: 0.9em;
  border: 2px solid #7A1E4D;
  padding: 4px 4px 4px 4px;
}

.employee-cert-div-header {
  font-weight: bold;
  margin: 0;
  text-decoration: underline;
}

/* Remaining Time for employee-cert-rels */
.remaining-none {
  color: black;
  border-color: #7A1E4D;
}

.remaining-ok {
  color: green;
  border-color: green;
}

.remaining-warning {
  color: orange;
  border-color: orange;
}

.remaining-risky {
  color: red;
  border-color: red;
}

.bg-ok {
  background-color: green;
}

.bg-warning {
  background-color: orange;
}

.bg-risky {
  background-color: red;
}

.border-success {
  border: 2px solid #3c763d; /* bootstrap color */
  color: #3c763d !important;
  font-weight: bold;
}

.border-warning {
  /*border: 2px solid #8a6d3b;  bootstrap color */
  color: #8a6d3b !important;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22.09.2016, 10:52:38
    Author     : allapow
*/
table.table-border-all td, table.table-border-all th {
  border: 1px solid black;
}

.w3-xtiny {
  font-size: 10px !important;
}

.w3-xbtn, .w3-xbtn-block {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 4px 8px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none !important;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.margin-xbtn {
  margin: 2px 0;
}

.margin-8 {
  margin: 8px;
}

/*# sourceMappingURL=style.css.map */
