<?php
$this->headTitle('login');
?>
<div style="">
    <form method="post" action="" style="width: 300px;margin: 0 auto;"><h1>Login</h1>

            <div class="form-group">
                <label for="login">Username</label>
                <input type="text" name="login" class="form-control" id="login" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="passwd">Passwort</label>
                <input type="password" name="passwd" class="form-control" id="passwd" placeholder="Passwort">
            </div>
            <button type="submit" class="btn btn-default">login</button>
        </form>
</div>
